{% load static %}
<main>
    <header class="row tm-welcome-section">
        <h2 class="col-12 text-center tm-section-title">Welcome to Simple House</h2>
        <p class="col-12 text-center">Total 3 HTML pages are included in this template. Header image has a parallax
            effect. You can feel free to download, edit and use this TemplateMo layout for your commercial or
            non-commercial websites.</p>
    </header>

    <div class="tm-paging-links">
        <nav>
            <ul>
                <li class="tm-paging-item"><a href="#" class="tm-paging-link active">Pizza</a></li>
                <li class="tm-paging-item"><a href="#" class="tm-paging-link">Salad</a></li>
                <li class="tm-paging-item"><a href="#" class="tm-paging-link">Noodle</a></li>
            </ul>
        </nav>
    </div>

    <!-- Gallery -->
    <div class="row tm-gallery">
        <!-- gallery page 1 -->
        <div id="tm-gallery-page-pizza" class="tm-gallery-page">
            {% for pizza in piza %}
            <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                <figure>
                    <img src="{{ pizza.image.url }}" alt="Image" class="img-fluid tm-gallery-img" />
                    <figcaption>
                        <h4 class="tm-gallery-title">{{ pizza.title }}</h4>
                        <p class="tm-gallery-description">{{ pizza.info }}</p>
                        <p class="tm-gallery-price">$ {{ pizza.price }}</p>
                    </figcaption>
                </figure>
            </article>
            {% endfor %}

        </div> <!-- gallery page 1 -->

        <!-- gallery page 2 -->
        <div id="tm-gallery-page-salad" class="tm-gallery-page hidden">
            {% for salad in salad %}
            <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                <figure>
                    <img src="{{ salad.image.url }}" alt="Image" class="img-fluid tm-gallery-img" />
                    <figcaption>
                        <h4 class="tm-gallery-title">{{ salad.title }} </h4>
                        <p class="tm-gallery-description">{{ salad.info }} </p>
                        <p class="tm-gallery-price">${{ salad.price }} </p>
                    </figcaption>
                </figure>
            </article>
            {% endfor %}

        </div> <!-- gallery page 2 -->

        <!-- gallery page 3 -->
        <div id="tm-gallery-page-noodle" class="tm-gallery-page hidden">
            {% for noodle in noodle %}
            <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                <figure>
                    <img src="{{ noodle.image.url }}" alt="Image" class="img-fluid tm-gallery-img" />
                    <figcaption>
                        <h4 class="tm-gallery-title">{{noodle.title }}</h4>
                        <p class="tm-gallery-description">{{noodle.info }}</p>
                        <p class="tm-gallery-price">$ {{noodle.price }}</p>
                    </figcaption>
                </figure>
            </article>
            {% endfor %}

        </div> <!-- gallery page 3 -->
    </div>
    <div class="tm-section tm-container-inner">
        <div class="row">
            {% for famouss in famous %}
            <div class="col-md-6">
                <figure class="tm-description-figure">
                    <img src="{% static 'img/img-01.jpg' %}" alt="Image" class="img-fluid" />
                </figure>
            </div>
            <div class="col-md-6">
                <div class="tm-description-box">
                    <h4 class="tm-gallery-title">{{ famouss.title }}</h4>
                    <p class="tm-mb-45">{{ famouss.info }}</p>
                    <a href="{{ famouss.url }}" class="tm-btn tm-btn-default tm-right">Read More</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</main>